<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="org.phpsrc.eclipse.pti.tools.codesniffer.validator.phpToolCodeSnifferMarker"
		name="PHP CodeSniffer"
		point="org.eclipse.core.resources.markers">
		<persistent value="true"/>
		<attribute name="lineNumber"/>
		<attribute name="charStart"/>
		<attribute name="charEnd"/>
		<attribute name="message"/>
		<attribute name="priority"/>
		<attribute name="severity"/>
		<super type="org.eclipse.core.resources.problemmarker"/>
 	</extension> 
	<extension
		id="CodeSnifferValidatorForPHP"
		name="PHP CodeSniffer Validator (for PHP Files)"
		point="org.eclipse.wst.validation.validatorV2">
		<validator
			class="org.phpsrc.eclipse.pti.tools.codesniffer.validator.PHPCodeSnifferValidator"
			build="true"
			manual="true"
			markerId="org.phpsrc.eclipse.pti.tools.codesniffer.validator.phpToolCodeSnifferMarker"
			sourceid="org.eclipse.php.core.phpsource"
			version="1">
			<include>
				<rules>
					<contentType exactMatch="true" id="org.eclipse.php.core.phpsource"></contentType>
				</rules>
			</include>
			<group id="org.eclipse.wst.sse.core.structuredModelGroup" />
		</validator>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.phpsrc.eclipse.pti.ui.preferences.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.codesniffer.ui.preferences.PHPCodeSnifferPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.preferences.PHPCodeSnifferPreferencePage"
			name="PHP CodeSniffer">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.phpsrc.eclipse.pti.ui.propertyPages.PHPToolsPreferencePage"
			class="org.phpsrc.eclipse.pti.tools.codesniffer.ui.preferences.PHPCodeSnifferPreferencePage"
			id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.propertyPages.PHPCodeSnifferPreferencePage"
			name="PHP CodeSniffer">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
				</adapt>
			</enabledWhen>
			<filter name="nature" value="org.eclipse.php.core.PHPNature" />
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			markerType="org.phpsrc.eclipse.pti.tools.codesniffer.validator.phpToolCodeSnifferMarker"
			class="org.phpsrc.eclipse.pti.tools.codesniffer.ui.correction.CorrectionMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>

	<extension
		point="org.eclipse.ui.commands">
		<category 
			id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.commands"
			name="PHP CodeSniffer"> 
		</category>
		<command
			id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.commands.validateresources"
			categoryId="org.phpsrc.eclipse.pti.tools.codesniffer.ui.commands"
			name="PHP CodeSniffer">
		</command>
	</extension>
	
	<extension 
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.phpsrc.eclipse.pti.ui.menus.phptools?after=additions">
			<command
				commandId="org.phpsrc.eclipse.pti.tools.codesniffer.ui.commands.validateresources"
				tooltip="Validate selected files or folders with PHP CodeSniffer"
				icon="icons/obj16/validate_resource.gif">
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource" />
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	
	<extension
		name="PHP CodeSniffer"
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.actionSet"
			label="PHP CodeSniffer"
			visible="false">
			<action
				id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.action.ValidateResourcesAction"
				definitionId="org.phpsrc.eclipse.pti.tools.codesniffer.ui.commands.validateresources"
				label="PHP CodeSniffer"
				icon="icons/obj16/validate_resource.gif"
				toolbarPath="org.phpsrc.eclipse.pti.tools.codesniffer.ui.actionSet"
				tooltip="Validate with PHP CodeSniffer"
				class="org.phpsrc.eclipse.pti.tools.codesniffer.ui.actions.ValidateResourcesAction"
				enablesFor="*">
			</action>
		</actionSet>
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.php.perspective">
			<actionSet id="org.phpsrc.eclipse.pti.tools.codesniffer.ui.actionSet" />
		</perspectiveExtension>
	</extension>
</plugin>
